.layout-wrapper {
  display: flex;
  min-height: 100vh;
  overflow: visible;
}

.main-content-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-left: 250px;
  transition: margin-left 0.3s ease;
}

.layout-wrapper .sidebar.close ~ .main-content-container {
  margin-left: 70px;
}
